<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sj.mapper.PostMapper">

	<insert id="create" useGeneratedKeys="true" keyProperty="post_id">
		INSERT INTO
			board.post (post_id, user_id, post_regdate, post_updatedate, post_heart, title, post_content, filename, post_flag)
		VALUES
			(LAST_INSERT_ID(), #{userId}, #{postRegdate}, #{postUpdatedate}, #{postHeart}, #{title}, #{postContent}, #{filename}, #{postFlag})
	</insert>

	<select id="read" resultType="com.sj.vo.PostVO">
		SELECT
			post_id AS postId, user_id AS userId, post_regdate AS postRegdate, post_updatedate AS postUpdatedate, post_heart AS postHeart, 
			title AS title, post_content AS postContent, filename AS filename, post_flag AS postFlag
		FROM
			board.post
		WHERE
			post_id = #{postId}
	</select>
	
	<select id="listAll" resultType="com.sj.vo.PostVO">
		SELECT
			post_id AS postId, user_id AS userId, post_regdate AS postRegdate, post_updatedate AS postUpdatedate, post_heart AS postHeart, 
			title AS title, post_content AS postContent, filename AS filename, post_flag AS postFlag
		FROM
			board.post
		WHERE
			post_flag = "Y"
		ORDER BY
			post_regdate DESC
	</select>
	
	<select id="list5" resultType="com.sj.vo.PostVO">
		SELECT
			post_id AS postId, user_id AS userId, post_regdate AS postRegdate, post_updatedate AS postUpdatedate, post_heart AS postHeart, 
			title AS title, post_content AS postContent, filename AS filename, post_flag AS postFlag
		FROM
			board.post
		WHERE
			post_flag = "Y"
		ORDER BY
			post_regdate DESC
		LIMIT
			#{pageNum}, 5
	</select>
	
	<update id="update">
		UPDATE
			board.post
		SET
			title = #{title}, post_content = #{postContent}, post_updatedate = #{postUpdatedate}, filename = #{filename}, post_flag = #{postFlag}
		WHERE
			post_id = #{postId}
	</update>
	
	<delete id="delete">
		DELETE FROM
			board.post
		WHERE
			post_id = #{postId}
	</delete>

</mapper>