<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sj.mapper.ReplyMapper">

	<insert id="create" useGeneratedKeys="true" keyProperty="reply_id">
		INSERT INTO
			board.reply (reply_id, reply_regdate, reply_updatedate, reply_content, user_id, post_id, parent_reply_id, reply_flag)
		VALUES
			(LAST_INSERT_ID(), #{replyRegdate}, #{replyUpdatedate}, #{replyContent}, #{userId}, #{postId}, #{parentReplyId}, #{replyFlag})
	</insert>

	<select id="list" resultType="com.sj.vo.ReplyVO">
		SELECT
			reply_id AS replyId, reply_regdate AS replyRegdate, reply_updatedate AS replyUpdatedate, reply_content AS replyContent,
			user_id AS userId, post_id AS postId, parent_reply_id AS parentReplyId, reply_flag AS replyFlag
		FROM
			board.reply
		WHERE
			post_id = #{postId} AND parent_reply_id = 0 AND reply_flag = "Y"
		ORDER BY
			reply_regdate DESC
	</select>
	
	<select id="listDepth1" resultType="com.sj.vo.ReplyVO">
		SELECT
			reply_id AS replyId, reply_regdate AS replyRegdate, reply_updatedate AS replyUpdatedate, reply_content AS replyContent,
			user_id AS userId, post_id AS postId, parent_reply_id AS parentReplyId, reply_flag AS replyFlag
		FROM
			board.reply
		WHERE
			parent_reply_id = #{replyId} AND reply_flag = "Y"
		ORDER BY
			reply_regdate DESC
	</select>
	
	<select id="listAll" resultType="com.sj.vo.ReplyVO">
		SELECT
			reply_id AS replyId, reply_regdate AS replyRegdate, reply_updatedate AS replyUpdatedate, reply_content AS replyContent,
			user_id AS userId, post_id AS postId, parent_reply_id AS parentReplyId, reply_flag AS replyFlag
		FROM
			board.reply
		WHERE
			reply_flag = "Y"
		ORDER BY
			reply_regdate DESC
	</select>
	
	<select id="list2" resultType="com.sj.vo.ReplyVO">
		SELECT
			reply_id AS replyId, reply_regdate AS replyRegdate, reply_updatedate AS replyUpdatedate, reply_content AS replyContent,
			user_id AS userId, post_id AS postId, parent_reply_id AS parentReplyId, reply_flag AS replyFlag
		FROM
			board.reply
		WHERE
			post_id = #{postId} AND reply_flag = "Y"
		ORDER BY
			reply_regdate DESC
		LIMIT 2
	</select>
	
	<update id="update">
		UPDATE
			board.reply
		SET
			reply_updatedate = #{replyUpdatedate}, reply_content = #{replyContent}
		WHERE
			reply_id = #{replyId}
	</update>
	
	<delete id="delete">
		DELETE FROM
			board.reply
		WHERE
			reply_id = #{replyId}
	</delete>


</mapper>