<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sj.mapper.ReplyMapper">

	<resultMap type="com.sj.vo.ReplyVO" id="replyResultMap">
		<id property="replyId" column="reply_id"/>
		<result property="replyRegdate" column="reply_regdate"/>
		<result property="replyUpdatedate" column="reply_updatedate"/>
		<result property="replyContent" column="reply_content"/>
		<result property="userId" column="user_id"/>
		<result property="postId" column="post_id"/>
		<result property="parentReplyId" column="parent_reply_id"/>
		<result property="replyReplycount" column="reply_replycount"/>
		<result property="replyFlag" column="reply_flag"/>
	</resultMap>
	
	<insert id="create" useGeneratedKeys="true" keyProperty="reply_id">
		INSERT INTO
			board.reply (reply_id, reply_regdate, reply_updatedate, reply_content, user_id, post_id, parent_reply_id, reply_replycount, reply_flag)
		VALUES
			(LAST_INSERT_ID(), #{replyRegdate}, #{replyUpdatedate}, #{replyContent}, #{userId}, #{postId}, #{parentReplyId}, #{replyReplycount}, #{replyFlag})
	</insert>
	
	<select id="read" resultMap="replyResultMap">
		SELECT
			*
		FROM
			board.reply
		WHERE
			reply_id = #{replyId}
	</select>

	<select id="readDepth0" resultMap="replyResultMap">
		SELECT
			*
		FROM
			board.reply
		WHERE
			post_id = #{postId} AND parent_reply_id = 0 AND reply_flag = "Y"
		ORDER BY
			reply_regdate DESC
	</select>
	
	<select id="readDepth1" resultMap="replyResultMap">
		SELECT
			*
		FROM
			board.reply
		WHERE
			parent_reply_id = #{replyId} AND reply_flag = "Y"
		ORDER BY
			reply_regdate DESC
	</select>
	
	<select id="readAll" resultMap="replyResultMap">
		SELECT
			*
		FROM
			board.reply
		WHERE
			post_id = #{postId} AND reply_flag = "Y"
		ORDER BY
			reply_regdate DESC
	</select>
	
	<select id="read2Replies" resultMap="replyResultMap">
		SELECT
			*
		FROM
			board.reply
		WHERE
			post_id = #{postId} AND reply_flag = "Y"
		ORDER BY
			reply_regdate DESC
		LIMIT 2
	</select>

	<select id="readReplyReplycount" resultType="java.lang.Integer">
		SELECT
			reply_replycount AS replyReplycount
		FROM
			board.reply
		WHERE
			reply_id = #{replyId}
	</select>
	
	<update id="update">
		UPDATE
			board.reply
		SET
			reply_updatedate = #{replyUpdatedate}, reply_content = #{replyContent}
		WHERE
			reply_id = #{replyId}
	</update>
	
	<update id="updateReplycountInc">
		UPDATE
			board.reply
		SET
			reply_replycount = reply_replycount + 1
		WHERE
			reply_id = #{replyId}
	</update>
	<update id="updateReplycountDec">
		UPDATE
			board.reply
		SET
			reply_replycount = reply_replycount - 1
		WHERE
			reply_id = #{replyId}
	</update>
	
	<delete id="delete">
		DELETE FROM
			board.reply
		WHERE
			reply_id = #{replyId}
	</delete>


</mapper>