<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sj.mapper.UserMapper">

	<insert id="create">
		INSERT INTO
			board.user (user_id, user_pw, user_name, email, user_regdate, user_postcount, user_replycount)
		VALUES
			(#{userId}, #{userPw}, #{userName}, #{email}, #{userRegdate}, #{userPostcount}, #{userReplycount})
	</insert>

	<select id="read" resultType="com.sj.domain.UserVO">
		SELECT
			user_id AS userId, user_pw AS userPw, user_name AS userName, email AS email,
			user_regdate AS userRegdate, user_postcount AS userPostcount, user_replycount AS userReplycount
		FROM
			board.user
		WHERE
			user_id = #{userId}
	</select>
		
	<select id="listAll" resultType="com.sj.domain.UserVO">
		SELECT
			user_id AS userId, user_pw AS userPw, user_name AS userName, email AS email,
			user_regdate AS userRegdate, user_postcount AS userPostcount, user_replycount AS userReplycount
		FROM
			board.user
	</select>
	
	<update id="update">
		UPDATE
			board.user
		SET
			user_pw = #{userPw}, user_name = #{userName}, email = #{email}
		WHERE
			user_id = #{userId}
	</update>
	
	<delete id="delete">
		DELETE FROM
			board.user
		WHERE
			user_id = #{userId}
	</delete>

	<select id="login" resultType="com.sj.domain.UserVO">
		SELECT
			user_id AS userId, user_pw AS userPw, user_name AS userName, email AS email,
			user_regdate AS userRegdate, user_postcount AS userPostcount, user_replycount AS userReplycount
		FROM
			board.user
		WHERE
			user_id = #{userId} AND user_pw = #{userPw}
	</select>

</mapper>